
.paginationholder{
    margin: auto;
}
.page-item{
    color: #DE004A;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: 5rem;
    cursor: pointer;
}
.list-group{
    box-shadow: 0 0 4px 0 #989898;
    margin-top: 2rem;
}

.gamelist-container {
    margin: 0 0 2.5rem 0;
}

.align-left{
    text-align: left;
    margin: 0;
    color: #FF3A52;
}
.list-image{
    max-height: 150px;
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
}
.hidden-text{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
    max-height: 100%;
    color: #212529;
}
.list-group-item:hover{
    background-color: #f5f5f5;
}

/*body {*/
/*    background: #eee;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/
.container{
    padding: 0.5rem;
}

.page-link{
    color:#394fffde;
}