
.reviewCard {
    display: flex;
    flex-flow: wrap column;
    min-width: 100%;
    box-shadow: 0 0 4px 0 #989898;
}


.userinfo {
    display: flex;
    flex-flow: wrap column;
    padding: 0 0 1rem 0;
    margin: 0 0 0 2rem;
}

.above {
    display: flex;
    flex-flow: wrap row;
    margin: 0 0 0 2rem;
}