
.searchdiv {
 flex-basis: 80%;
 margin: auto;
}

input {
 height:2rem;
 min-height: 1.5rem;
 width: 90%;
 min-width: 8rem;
 max-width: 30rem;
}
::placeholder{
 color: #A4A4A4;
}
nav {
 /*margin: auto;*/
 flex-basis: 10%;
}

nav a {
 text-decoration: none;
 color: white;
 flex-basis: 10%;
 margin: 0 1rem 0 0;

}

a:focus {
 text-decoration: none;
 color: blue;
}
a:active {
 text-decoration: none;
 color: red;
}

.title {
 margin: 1rem;
 flex-basis: 10%;
}
.buttonLink{
 background: none;
 border: none;
 color: #FF3A52;
}
.loginMenu{
 border-radius: 1rem;
 background-color: #F5F5F5;

 border-style: solid;
}
